<ion-grid class="fullheight ion-no-padding">
    <ion-row class="fullheight">
        <ion-col>
            <ion-grid  class="fullheight ion-no-padding">
                <ion-row class="fullheight">
                    <ion-col>
                        <app-application-businesshours [providerId]="providerId"
                            [businessHoursLookup]="businessHourLookups$ | async" [businessHoursRes]="businessHours$ | async"
                            (create)="createBusinessHours($event)" (update)="updateBusinessHours($event)">
                        </app-application-businesshours>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <ion-grid fixed>
                <ion-row>
                    <ion-col size-xs="6" size-md="3" offset-md="3">
                        <ion-button expand="block" fill="outline" [routerLink]="previousPage" queryParamsHandling="preserve">Back
                        </ion-button>
                    </ion-col>
                    <ion-col size-xs="6" size-md="3">
                        <ion-button expand="block" id="nextbutton" (click)="nextPage()">
                            Next: Services
                            <ion-icon slot="end" name="caret-forward"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>