.goodmoralC-radiobtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ion-no-padding-inner{
    --padding-start:0px;
    --padding-end:0px;
}

.ion-padding-small{
    padding:5px;
}