
<ion-tabs>
  <ion-tab-bar slot="top" color="primary" class="hide-native-scrollbar ">
    <ion-tab-button tab="profile">
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="BGS">
      <ion-label>BGS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="training">
      <ion-label>TRANINING</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="documents">
      <ion-label>DOCUMENTS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="documents">
      <ion-label>DOCUMENTS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="documents">
      <ion-label>DOCUMENTS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="documents">
      <ion-label>DOCUMENTS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="documents">
      <ion-label>DOCUMENTS</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>


