<ion-grid>
  <ion-row>
    <ion-col>
      <ion-text>
        <h3 class="ion-text-center">This is not an application</h3>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="certify-content">
  <ion-row>
    <ion-col>
      <p>This is not an application. It is a good faith statement that you wish to pursue a license or a home
        registration.
        When a completed application is submitted to the Department with licensure fee and all the required
        documentation, the Department has 90 days in which to act upon your application.</p>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="certify-content">
  <ion-row>
    <ion-col size="1" >
      <ion-checkbox class="certify-checkbox-margin" checked="false" (click)="certify($event)"> </ion-checkbox>
    </ion-col>
    <ion-col>
      <p class="ion-padding-horizontal">I certify that I have read the above paragraph. all information is truthful and correct to best of my knowldge.
      </p>
    </ion-col>
  </ion-row>
</ion-grid>