::ng-deep .questionnaire-card-margin ion-card{
        margin-top: 55px;
        margin-bottom: 30px;
        padding:0px;
    }
ion-note{
    display: flex;
    justify-content: center;
    padding: 16px 0px;
}