<ion-header >
  <ion-toolbar fixed color="indigogradience">
    <!-- <ion-buttons slot="start">
      <ion-button (click)="goFormPage()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title class="ion-text-start">{{pageTitle | uppercase}}</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="indigogradience">
    <mat-horizontal-stepper (selectionChange)="selectChange($event)" linear labelPosition="bottom" #stepper >
        <mat-step id="1">
        </mat-step>
        <mat-step id="2">
        </mat-step>
        <mat-step id="3">
        </mat-step>
        <mat-step id="4">
        </mat-step>
      </mat-horizontal-stepper>
</ion-toolbar> -->
</ion-header>
<ion-content class="ion-content-shade">
  <div class="routeContainer fullheight" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet=outlet></router-outlet> 
    </div> 
</ion-content>

   
   
 

 
 