<ion-grid class="ion no-padding fullheight ">
  <ion-card class="ion-padding fullheight">
    <img src="./../../assets/images/ownershipinfo.svg" />
    <ion-card-header>
      <ion-card-title>Who owns your business?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="bold">
      An owner could be an individual, a corporation, or a
      partnership. If you have registered your business in Florida,
      you will find the 'Document Number' on the top right of the
      'Articles of Organization' issued by Florida Divison of
      Corporations. Keep it handy as you will need it in the next
      page.
    </ion-card-content>
  </ion-card>
</ion-grid>
