ion-item{
    line-height: 45px;;
}

.attachment-label{
    font-size: 1.1em;
}

.employmentDetails-blue-circle{
    background-color: lightblue;
    height:30px;
    width:30px;
    border-radius: 50%;
    text-align: center;
}