::ng-deep .security-form-container {
    min-height: 600px;
    .security-form{
        a {
            font-weight: 500;
            margin:0.8em 0;
            display: inline-block;
        }
        ion-grid{
            padding:0 20px;
        }
        
        .security-form-content,
        form{
            max-width: 400px; 
            width:90%;
            margin:auto;
        }
        ion-item{
            margin-top:10px;
        }
        ion-button{
            height:50px;
            width:200px;
        }
        
        .security-form-title{
            font-size: 1.4em;
        }
    }

    img{
        width:100px;
    }

    &.security-form-container-mobile{
        background-image: url('../../assets/images/LoginAbstractBackground-light.jpg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        background-blend-mode: lighten;
    }
    &.security-form-container-desktop{
        position: absolute; 
        right:0; 
        max-width: 1000px; 
        width:40%; 
        min-width:300px;
        background-color: white;
    
    }
}
