.documentpeople-lottieheight{
    max-height: 400px;
}

.documentpeople-helpertext{
    font-size: 1.0em;
}

.documentpeople-margin{
    margin-top:-55px;
}

.documentpeople-gridmargin{
    margin-top:60px;
}