<ion-grid fixed class="fullheight ion-no-paddig">
  <ion-row class="ion-no-padding fullheight">
    <ion-col>
      <ion-card class="fullheight">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ng-container *ngIf="!showDocumentsList">
              <!-- <ion-row>
                   <ion-col>
                  <ion-button (click)="enableDocumentsList()">
                  <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                  </ion-button>
                  </ion-col>
              </ion-row> -->
              <ion-col *ngIf="peopleAlphaBetaList.length">
                <ion-list class="fullheight ion-list-categorized">
                  <ng-container *ngFor="let peoples of peopleAlphaBetaList; let i = index;">
                    <ion-item-divider *ngIf="peoples.length>0" color="lightbluegradience">
                      <ion-label>
                        {{peoples[0].personName.slice(0,1)}}
                      </ion-label>
                    </ion-item-divider>
                    <ng-container *ngFor="let people of peoples">
                      <ion-item (click)="navigateToForm(people)" button="true">
                        <ion-icon name="alert-circle" color="danger"
                          *ngIf="people.formStatusId == 13 || people.formStatusId == 19" class="ion-icon-checkmark">
                        </ion-icon>
                        <ion-icon name="checkmark" color="success" *ngIf="people.formStatusId == 15"
                          class="ion-icon-checkmark">
                        </ion-icon>
                        <ion-icon name="alert-circle" color="primary" *ngIf="people.formStatusId == 12"
                          class="ion-icon-checkmark"></ion-icon>
                        <ion-label>
                          <h3 class="documentpeople-fontcolor">{{people.personName | titlecase}}</h3>
                          <ion-note class="documentspeople-alert">
                            {{people.formStatus}}
                          </ion-note>
                        </ion-label>
                      </ion-item>
                    </ng-container>
                  </ng-container>
                </ion-list>
              </ion-col>
            </ng-container>
          </ion-row>
          <ng-container *ngIf="showDocumentsList">
            <app-documentslist-container showDocument="true"></app-documentslist-container>
          </ng-container>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>