<ion-grid class="ion-no-padding">
  <ion-row>
      <ion-col>
          <app-shared-attachment [attachmentCount]="(selfAttestationDetails$ | async)?.attachmentCount"></app-shared-attachment>
          <ion-note class="ion-padding-horizontal"><span class="bold canr-helpertextoptional">Optional:</span>
            Attach documents that supplement of self attestation</ion-note>
        </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
          <app-application-viewselfattestation [selfAttestationDetails]="selfAttestationDetails$ | async">
            <!--[zoningAttestationDetail]="(zoningAttestationSourceList$ | async)?.zoningAttestationDetail"--> 
          </app-application-viewselfattestation>
      </ion-col>
  </ion-row>
  <ion-grid fixed>
      <ion-row  class="ion-margin-horizontal">
        <ion-col class="ion-hide-md-down"></ion-col>
        <ion-col class="ion-no-padding  ion-hide-md-down btn-align" size="6">
          <ion-button  fill="outline" expand="block" (click)="cancel()" >
            Back
            <ion-icon slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-hide-md-down"></ion-col>
    
    
        <ion-col class="ion-no-padding  ion-hide-md-up" size-xs="12">
          <ion-button fill="outline" class="btn-size" expand="block" (click)="cancel()">
            Back
            <ion-icon slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-grid>




<ion-grid fixed>
  <ion-fab vertical="bottom" horizontal="end" class="fabbutton-fixed-nobutton">
      <ion-fab-button (click)="editSelfAttestation()">
          <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-grid>
