ul{
    list-style-type:none;
}

.emdetailsview-padding-top{
    padding-top:5px;
}

.emdetailsview-padding-left{
    padding-left:10px;

}

.emdetailsview-cardmargin-bottom{
    margin-bottom:5px;
}

.emdetailsview-cardmargin-right{
    margin-right:5px;
}

.emdetailsview-cardmargin-top{
    margin-top:5px;
}
