.divider{
  margin:-5px -5px 20px -5px;
}

ion-button{
  max-width:400px;
  margin:30px auto;
  color: #596bd4;
}
.providerdetails {
  font-size: 0.76em;
  margin-bottom: 10px;
}
.btn-bordercolor {
  border: 1.5px solid rgba(89,107,212, 0.5);
  border-radius: 2px;
  overflow: hidden;
}
.bold{
  font-weight:500;
}


