<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <h2 color="primary">Hello Michelle, Welcome </h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <img src="../../assets/images/startpage.svg" alt="Welcome" />
      </ion-col>
    </ion-row>
    <ion-row class="welcome-text">
      <ion-col>
        <ion-text>
          We at Department of Children and Families are excited that you are interested in offering childcare service.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="welcome-text">
      <ion-col>
        <ion-text>
          Proper planning and guidance of a knowledgable person who can lead you through the legal requirements will
          help to get your business licensed by the department.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="welcome-text">
      <ion-col>
        <ion-text>
          You have come to the right place. Answer few questions and we will guide you through the correct path.
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button color="primary" routerLink="/questionnaire">Let's Start!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>