.documentsofficeuse-ion-item{
    --highlight-color-focused: var(--ion-color-light-shade);
    --highlight-color-valid: var(--ion-color-light-shade);
}
.bold{
    font-weight:500;
}

.documentsofficeuse-notesborder{
    border:1px solid var(--ion-color-light-shade);
}


.documentsofficeuse-labelcolor{
    color: var( --ion-color-medium-tint) !important;
}