.people-helpertext{
    font-size: 1.5em;
    display: block;
}

.peoplelist-lottieheight{
    max-height: 500px;
    min-height: 380px;
}


.peoplist-background{
    background: var(--ion-color-primary-contrast);
    padding-bottom:16px;
}