<div class="ion-text-center tab-menu">
  <ion-button fill="clear" class="tab-menu-item">
    <div>
        <ion-icon name="book" size="large"></ion-icon>
        <ion-label>Dashboard</ion-label>
    </div>
  </ion-button>
  <ion-button fill="clear" class="tab-menu-item">
    <div>
        <ion-icon name="paper" size="large"></ion-icon>
        <ion-label>Forms</ion-label>
    </div>
  </ion-button>
  <ion-button fill="clear" class="tab-menu-item selected">
    <div>
        <ion-icon name="contacts" size="large"></ion-icon>
        <ion-label>Providers</ion-label>
    </div>
  </ion-button>
  <ion-button fill="clear" class="tab-menu-item">
    <div>
        <ion-icon name="notifications" size="large"></ion-icon>
        <ion-badge color="danger">6</ion-badge>
        <ion-label>Notification</ion-label>
    </div>
  </ion-button>
  <ion-button fill="clear" class="tab-menu-item">
    <div>
        <ion-icon name="settings" size="large"></ion-icon>
        <ion-label>Settings</ion-label>
    </div>
  </ion-button>
</div>