
.childabuse-liststyle{
    list-style-type: circle;
    padding-left: 20px;
}

.childabuse-helpertext{
    padding-left:15px;
    padding-top:10px
}

.childabuse-itemsalign{
    margin-bottom: -16px;
}

.link {
    cursor: pointer;
}